{% extends "base.html" %}


{% block content %}

                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <span>业务监控</span>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    <span>监控配置</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title"> 监控管理
                            <small>编辑任务</small>
                        </h1>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->
                        <div class="row">
                            <div class="col-md-12 ">
                                    <!-- BEGIN SAMPLE FORM PORTLET-->
                                    <div class="portlet light bordered">
                                        <div class="portlet-body">
                                            <!-- BEGIN FORM-->
                                            <form action="{% url 'monitor:saveTask' %}" id="form_task_add" class="form-horizontal" method="post">
                                                <div class="form-body">
                                                    <div class="alert alert-danger display-hide">
                                                        <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                                                    <div class="alert alert-success display-hide">
                                                        <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                                                    <div class="form-group  margin-top-10">
                                                        <label class="control-label col-md-3">任务名称
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <div class="col-md-3">
                                                            <div class="input-icon right">
                                                                <i class="fa"></i>
                                                                <input type="text" class="form-control" name="taskName" value="{{ task.name }}" required/> </div>
                                                                <input type="hidden" class="form-control" name="taskId"  value="{{task.id}}"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">执行时间
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <div class="col-md-3">
                                                            <select class="bs-select form-control" data-live-search="true" data-size="8" name="crontab" required>
                                                                <option value="">请选择</option>

                                                                {% for obj in crontabs %}
                                                                <option value="{{ obj.id }}" {% if task.crontab_id == obj.id %} selected {% endif %}>{{ obj }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">数据源
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <div class="col-md-3">
                                                            <select class="bs-select form-control" data-live-search="true" data-size="8" name="datasource" required>
                                                                <option value="">请选择</option>

                                                                {% for obj in datasources %}
                                                                <option value="{{ obj.name }}" {% if task.datasource == obj.name %} selected {% endif %}>{{ obj.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group  margin-top-10">
                                                        <label class="control-label col-md-3">sql语句
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <div class="col-md-3">
                                                            <div class="input-icon right">
                                                                <i class="fa"></i>
                                                                <textarea class="form-control" rows="5" name="sql" required>{{ task.sql }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">对比条件
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <div class="col-md-3">
                                                            <select class="bs-select form-control" data-live-search="true" data-size="8" id="operator" name="operator" required>
                                                                <option value=">=" {% if task.operator == '>=' %} selected {% endif %}>查询结果达到</option>
                                                                <option  value="<" {% if task.operator == '<' %} selected {% endif %}>查询结果低于</option>
                                                                <option value="==" {% if task.operator == '==' %} selected {% endif %}>查询结果不变</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group  margin-top-10">
                                                        <label class="control-label col-md-3">阈值
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <div class="col-md-3">
                                                            <div class="input-icon right">
                                                                <i class="fa"></i>
                                                                <input type="text" class="form-control" id="threshold" name="threshold"  value="{{ task.threshold }}" required/> </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">异常处理方法

                                                        </label>
                                                        <div class="col-md-3">
                                                            <select class="bs-select form-control" data-live-search="true" data-size="8" name="article">
                                                                <option value="">请关联文章</option>

                                                                {% for obj in articles %}
                                                                <option value="{{ obj.id }}" {% if task.article == obj.id %} selected {% endif %}>{{ obj.title }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">启用
                                                            <span class="required"> * </span>
                                                        </label>
                                                        <div class="col-md-9">
                                                            <input type="checkbox" class="make-switch" name="enabled" value="1" data-on-color="success" data-off-color="warning" {% if task.enabled %} checked {% endif %}>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br><br>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn green">提交</button>
                                                            <button type="button" class="btn default"><a href="{% url 'monitor:listTask' %}" style="text-decoration:none;color:#666">取消</a></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END FORM-->
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->

{% endblock %}

<!-- BEGIN EXTRA SCRIPTS -->
{% block script %}

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/metronic/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
        <script src="/static/js/plugins/bootstrap-datetimepicker.zh-CN.js"></script>
        <script src="/static/js/form-validation.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->

        <script type="text/javascript">
            jQuery(document).ready(function() {
                if ($("#operator").val() == "=="){
                    $("#threshold").attr("readonly",true);
                }

                $("#operator").change(function(){
                    if ($("#operator").val() == "=="){
                        $("#threshold").val(1);
                        $("#threshold").attr("readonly",true);
                    }else{
                        $("#threshold").attr("readonly",false);
                    }
                });
            });

        </script>


{% endblock %}
<!-- END EXTRA SCRIPTS -->