{% extends "base.html" %}


<!-- BEGIN EXTRA CSS -->

{% block css %}


{% endblock %}

<!-- END EXTRA CSS -->


<!-- BEGIN SIDEBAR -->

<!-- index  begin-->
{% block index_start_class %}
class="nav-item "
{% endblock %}

{% block index_selected_class %}{% endblock %}

<!-- index end -->

<!-- 新股日历 模块 begin-->

{% block stock_start_class %}
class="nav-item "
{% endblock %}

{% block stock_open_class %}
class="arrow "
{% endblock %}

{% block stock_selected_class %}

{% endblock %}

{% block stockAdd_active_class %}
class="nav-item  "
{% endblock %}

{% block stockList_active_class %}
class="nav-item  "
{% endblock %}

{% block underwriterList_active_class %}
class="nav-item  "
{% endblock %}

{% block productList_active_class %}
class="nav-item  "
{% endblock %}

<!-- 新股日历 模块 end -->

<!-- 新股申购 模块 begin-->

{% block stockOps_start_class %}
class="nav-item start active open"
{% endblock %}

{% block stockOps_open_class %}
class="arrow open"
{% endblock %}

{% block stockOps_selected_class %}
class="selected"
{% endblock %}

{% block stockStatus_active_class %}
class="nav-item active"
{% endblock %}

{% block statusOps_active_class %}
class="nav-item "
{% endblock %}

{% block statusHistory_active_class %}
class="nav-item "
{% endblock %}

<!-- 新股申购 模块 end -->

<!-- 系统管理 模块 begin -->

{% block sysconfig_start_class %}
class="nav-item  "
{% endblock %}

{% block sysconfig_open_class %}
class="arrow"
{% endblock %}

{% block sysconfig_selected_class %}{% endblock %}

{% block admin_active_class %}
class="nav-item  "
{% endblock %}

<!-- 系统管理 模块 end -->

<!-- END SIDEBAR -->


{% block content %}

                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper" ng-controller="stockStatusCtrl">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <span>新股申购</span>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    <span>新股状态</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title"> 新股状态
                            <small>状态查看</small>
                        </h1>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->

                        <!-- BEGIN MY -->
                        <!-- BEGIN MY -->
                        <div class="row" >
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light portlet-fit bordered">

                                    <div class="portlet-body">
                                        <div class="table-toolbar">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <button class="btn {% if status == 1 %}blue{% else %}green{% endif %}" >
                                                            <a href="{% url 'stock:statusStock' 1 %}" style="text-decoration:none;color:white">招股公告 ({{ zg_count }})</a>
                                                            <i class="fa fa-arrow-right"></i>
                                                        </button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button class="btn {% if status == 2 %}blue{% else %}green{% endif %}" >
                                                            <a href="{% url 'stock:statusStock' 2 %}" style="text-decoration:none;color:white">提交材料 ({{ cl_count }})</a>
                                                            <i class="fa fa-arrow-right"></i>
                                                        </button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button class="btn {% if status == 3 %}blue{% else %}green{% endif %}" >
                                                            <a href="{% url 'stock:statusStock' 3 %}" style="text-decoration:none;color:white">初步询价 ({{ xj_count }})</a>
                                                            <i class="fa fa-arrow-right"></i>
                                                        </button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button class="btn {% if status == 4 %} blue {% else %} green {% endif %}" >
                                                            <a href="{% url 'stock:statusStock' 4 %}" style="text-decoration:none;color:white">网下申购 ({{ sg_count }})</a>
                                                            <i class="fa fa-arrow-right"></i>
                                                        </button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button class="btn {% if status == 5 %}blue{% else %}green{% endif %}" >
                                                            <a href="{% url 'stock:statusStock' 5 %}" style="text-decoration:none;color:white">配售缴款 ({{ jk_count }})</a>
                                                            <i class="fa fa-arrow-right"></i>
                                                        </button>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button class="btn {% if status == 6 %}blue{% else %}green{% endif %}" >
                                                            <a href="{% url 'stock:statusStock' 6 %}" style="text-decoration:none;color:white">准备上市</a>
                                                            <i class="fa fa-power-off"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-hover table-bordered" id="table_stock_status">
                                            <thead>
                                                <tr>
                                                    <th> 新股代码 </th>
                                                    <th> 新股名称 </th>
                                                    <th> 主承销商 </th>
                                                    <th> 联系电话 </th>
                                                    <th> 开始时间 </th>
                                                    <th> 结束时间 </th>
                                                </tr>
                                            </thead>
                                            <tbody id="stock-status">

                                                {% for record in records %}

                                                <tr>
                                                    <td>{{ record.stock.stock_code }}</td>
                                                    <td>{{ record.stock.stock_name }}</td>
                                                    <td>{{ record.stock.underwriter.underwriter }}</td>
                                                    <td>{{ record.stock.underwriter.telephone }}</td>
                                                    <td>{{ record.start_date }}</td>
                                                    <td>{{ record.end_date }}</td>
                                                </tr>

                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                            </div>
                        </div>
                        <!-- END MY  -->
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->

{% endblock %}

<!-- BEGIN EXTRA SCRIPTS -->
{% block script %}


{% endblock %}
<!-- END EXTRA SCRIPTS -->