{% extends "base.html" %}

<!-- BEGIN SIDEBAR -->

<!-- index  begin-->
{% block index_start_class %}
class="nav-item "
{% endblock %}

{% block index_selected_class %}{% endblock %}

<!-- index end -->

<!-- 新股日历 模块 begin-->

{% block stock_start_class %}
class="nav-item start active open"
{% endblock %}

{% block stock_open_class %}
class="arrow open"
{% endblock %}

{% block stock_selected_class %}
class="selected"
{% endblock %}

{% block stockAdd_active_class %}
class="nav-item  active"
{% endblock %}

{% block stockList_active_class %}
class="nav-item  "
{% endblock %}

{% block underwriterList_active_class %}
class="nav-item  "
{% endblock %}

{% block productList_active_class %}
class="nav-item  "
{% endblock %}

<!-- 新股日历 模块 end -->

<!-- 新股申购 模块 begin-->

{% block stockOps_start_class %}
class="nav-item "
{% endblock %}

{% block stockOps_open_class %}
class="arrow"
{% endblock %}

{% block stockOps_selected_class %}{% endblock %}

{% block stockStatus_active_class %}
class="nav-item "
{% endblock %}

{% block statusOps_active_class %}
class="nav-item "
{% endblock %}

{% block statusHistory_active_class %}
class="nav-item "
{% endblock %}

<!-- 新股申购 模块 end -->

<!-- 系统管理 模块 begin -->

{% block sysconfig_start_class %}
class="nav-item  "
{% endblock %}

{% block sysconfig_open_class %}
class="arrow"
{% endblock %}

{% block sysconfig_selected_class %}{% endblock %}

{% block admin_active_class %}
class="nav-item  "
{% endblock %}

<!-- 系统管理 模块 end -->

<!-- END SIDEBAR -->

{% block content %}

                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <span>新股日历</span>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    <span>新增新股</span>
                                </li>
                            </ul>
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title"> 统计面板
                            <small>图表展示</small>
                        </h1>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->

                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->

{% endblock %}