<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="mainApp">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>运维管理系统</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />-->
        <link href="/static/css/googleapis-fonts/fonts.css" rel="stylesheet" type="text/css" />
        <link href="/static/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="/static/metronic/assets/global/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
        <link href="/static/metronic/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />

        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/static/metronic/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/metronic/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="/static/metronic/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/metronic/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/static/metronic/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="/static/img/logo.jpg" /> </head>

        <!-- BEGIN EXTRA CSS -->
        {% block css %}{% endblock %}
        <!-- END EXTRA CSS -->

    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top" ng-controller="configCtrl">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="#">
                            <!--<img src="/static/metronic/assets/layouts/layout/img/logo.png" alt="logo" class="logo-default" />-->
                            <img src="/static/img/logo2.png" alt="logo" class="logo-default" />
                        </a>
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="/static/img/me.jpg" />
                                    <span class="username username-hide-on-mobile">{{ request.user.username }}</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="#" ng-click="pwdChange()">
                                            <i class="icon-key"></i> 修改密码 </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}">
                                            <i class="icon-lock"></i> 退出系统 </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN SIDEBAR -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <div class="page-sidebar navbar-collapse collapse">
                        <!-- BEGIN SIDEBAR MENU -->
                        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                            <li class="nav-item " id="index">
                                <a href="{% url 'index' %}" class="nav-link">
                                    <i class="icon-home"></i>
                                    <span class="title">首页</span>
                                    <span id="index_1"></span>
                                </a>
                            </li>
                            <li class="nav-item " id="ywjk">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-diamond"></i>
                                    <span class="title">业务监控</span>
                                    <span class="arrow " id="ywjk_1"></span>
                                    <span id="ywjk_2"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item " id="ywjk_jkzt">
                                        <a href="{% url 'monitor:taskStatus' %}" class="nav-link ">
                                            <span class="title">监控状态</span>
                                        </a>
                                    </li>
                                    <li class="nav-item " id="ywjk_jkpz">
                                        <a href="{% url 'monitor:listTask' %}" class="nav-link ">
                                            <span class="title">监控配置</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item " id="tjfx">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-bar-chart"></i>
                                    <span class="title">统计分析</span>
                                    <span class="arrow " id="tjfx_1"></span>
                                    <span id="tjfx_2"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item " id="tjfx_page">
                                        <a href="{% url 'analysis:analysisPage' %}" class="nav-link ">
                                            <span class="title">统计页面</span>
                                        </a>
                                    </li>
                                    <li class="nav-item " id="tjfx_granfana">
                                        <a href="http://localhost:3000/" class="nav-link " target="_blank">
                                            <span class="title">grafana</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item " id="zsk">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-puzzle"></i>
                                    <span class="title">知识库</span>
                                    <span class="arrow " id="zsk_1"></span>
                                    <span id="zsk_2"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item " id="zsk_zslb">
                                        <a href="{% url 'article:listArticle' %}" class="nav-link ">
                                            <span class="title">知识列表</span>
                                        </a>
                                    </li>
                                    <li class="nav-item " id="zsk_zslr">
                                        <a href="/admin/article/article/add/" class="nav-link " target="_blank">
                                            <span class="title">知识录入</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item " id="cygj">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-wrench"></i>
                                    <span class="title">常用工具</span>
                                    <span class="arrow " id="cygj_1"></span>
                                    <span id="cygj_2"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item " id="cygj_rzss">
                                        <a href="{% url 'plugin:searchLog' %}" class="nav-link ">
                                            <span class="title">日志搜索</span>
                                        </a>
                                    </li>
                                    <li class="nav-item " id="cygj_rzkb">
                                        <a href="{% url 'plugin:copyLog' %}" class="nav-link ">
                                            <span class="title">日志拷贝</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item " id="rcwh">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-gears"></i>
                                    <span class="title">日常维护</span>
                                    <span class="arrow " id="rcwh_1"></span>
                                    <span id="rcwh_2"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item " id="rcwh_zjpz">
                                        <a href="{% url 'cmdb:listModule' %}" class="nav-link ">
                                            <span class="title">组件配置</span>
                                        </a>
                                    </li>
                                    <li class="nav-item " id="rcwh_jqpz">
                                        <a href="{% url 'cmdb:listModule' %}" class="nav-link ">
                                            <span class="title">主机配置</span>
                                        </a>
                                    </li>
                                    <li class="nav-item " id="rcwh_wzgl">
                                        <a href="{% url 'config:listWebsite' %}" class="nav-link ">
                                            <span class="title">网址管理</span>
                                        </a>
                                    </li>
                                    <li class="nav-item " id="rcwh_mmgj">
                                        <a href="{% url 'cmdb:encryptPage' %}" class="nav-link ">
                                            <span class="title">密码工具</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item " id="xtgl">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-settings"></i>
                                    <span class="title">系统管理</span>
                                    <span class="arrow" id="xtgl_1"></span>
                                    <span id="xtgl_2"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item ">
                                        <a href="/admin" class="nav-link " target="_blank">
                                            <span class="title">用户管理</span>
                                        </a>
                                    </li>
                                    <li class="nav-item " id="xtgl_qxgl">
                                        <a href="{% url 'cmdb:listAppUser' %}" class="nav-link ">
                                            <span class="title">权限管理</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- END SIDEBAR MENU -->
                    </div>
                    <!-- END SIDEBAR -->
                </div>
                <!-- END SIDEBAR -->

    <!-- ---------------html 模板继承------------------------ -->
                <!-- BEGIN CONTENT -->

                {% block content %}{% endblock %}

                <!-- END CONTENT -->

     <!-- -------------------------------------------------------- -->

            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            <div class="page-footer">
                <div class="page-footer-inner"> 2019 &copy; 运维管理系统 By
                    <a target="_blank" href="#">yangwenren</a>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>
        <!--[if lt IE 9]>
        <script src="/static/metronic/assets/global/plugins/respond.min.js"></script>
        <script src="/static/metronic/assets/global/plugins/excanvas.min.js"></script>
        <script src="/static/metronic/assets/global/plugins/ie8.fix.min.js"></script>
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="/static/metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/metronic/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/js/plugins/sweetalert.min.js" type="text/javascript"></script>

        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/static/metronic/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->

        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/static/metronic/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="/static/metronic/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->



        <!-- BEGIN EXTRA SCRIPTS -->
        {% block script %}{% endblock %}
        <!-- END EXTRA SCRIPTS   -->

        <!-- BEGIN MY SCRIPTS -->
        <script src="/static/js/plugins/angular.min.js"></script>
        <script src="/static/js/plugins/ui-bootstrap-tpls.min.js"></script>
        <script src="/static/js/app.js"></script>

        <!-- BEGIN MY SCRIPTS -->

        <script type="text/javascript">
            //初始化菜单的css
            $(document).ready(function(){
                //所选主菜单、子菜单
                mainMenu = "{{main_memu}}";
                subMenu = "{{sub_menu}}";
                if(mainMenu=="index"){
                    $("#"+mainMenu).addClass("start active open");
                    $("#"+mainMenu+"_1").addClass("selected");
                }else{
                    $("#"+mainMenu).addClass("start active open");
                    $("#"+mainMenu+"_1").addClass("open");
                    $("#"+mainMenu+"_2").addClass("selected");
                    $("#"+subMenu).addClass("active");
                }
            });

        </script>

    </body>

</html>